*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(180deg,violet,pink);
}
.todo-app{
    width: 100%;
    max-width: 640px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px ;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 224, 224);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
ul li{
    list-style:  none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 8px;
    background-image: url(../images/empty.png);
    background-position: center;
    background-size:cover ;
}
ul li.checked{
    color: grey;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../images/checklist.png);
}
ul li span{
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: gray;
    font-size: 22px;
    border-radius: 50%;
    line-height: 30px;
}
ul li span:hover{
    background-color: lightgrey;
}
.head{
    color: #002765;
    font-size: 3rem;
}
@media (max-width:550px){
    .todo-app{
        max-width: 400px;
    }
    .head{
        font-size: 2rem;
    }
}
@media (max-width:400px){
    .todo-app{
        max-width: 300px;
    }
    .head{
        font-size: 1rem;
    }
}